.markdown h2 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-weight: 700;
  color: rgb(24 24 27);
}

.dark .markdown h2 {
  color: rgb(244 244 245);
}

.markdown p {
  margin: 0.6rem 0;
  line-height: 1.7;
  color: rgb(63 63 70);
}

.dark .markdown p {
  color: rgb(212 212 216);
}

.markdown ul {
  margin: 0.75rem 0;
  padding-left: 1.25rem;
  color: rgb(63 63 70);
}

.dark .markdown ul {
  color: rgb(212 212 216);
}

.markdown strong {
  color: rgb(39 39 42);
}

.dark .markdown strong {
  color: rgb(250 250 250);
}
